* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #2f2f2f, #1c1c1c);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #111;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 400px;
    color: #fff;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #00aaff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #008ecc;
}


.botao-voltar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 12px 18px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.botao-voltar:hover {
    background-color: #008ecc;
}