
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #333;
  
}

header {
  background-color: #ffffff;
  color: white;
  padding: 15px 20px;
  text-align: center;

  div {
    display: flex;
    align-items: center;
    gap: 72px;
  }

  img {
    width: 70px;
  }
}

nav {
  background: #ffffff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.primeira_imagem {
    background: url(../6115ec0410a635e5fddf558d292fcd9e.jpg) no-repeat center center/cover;
    min-height: 100vh;
  }


.primeira_imagem img {
  width: 100%;
  display: block;
  opacity: 0.5; /* transparência */
  object-fit: cover;
  height: 300px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  text-align: center;
  width: 80%;
}


h3{
  color: #fff;
}
h4{
  color: #fff;
}
p{
  color: #000;
  background-color: #f7f0f0;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;

}
.primeira_imagem_pequena_p1 img{
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
/* .logo {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: auto;
  align-items: center;
} */